body main {
  position: relative;
  background-image: url("./images/mobile/image-header.jpg");
}

body main header #menu svg {
  display: block;
  padding-left: 2em;
}

body main header #menu #hamburger::before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -2em;
  margin-left: 16.8em;
  position: absolute;
  border-left: 1.2em solid transparent;
  border-bottom: 2em solid #ffffff;
}

body main header #menu #hamburger {
  display: none;
  margin: 6em 1.5em 0 0;
  position: absolute;
}

body main header #menu #hamburger ul {
  height: 20em;
  width: 18em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffffff;
}

body main header #menu #hamburger ul li {
  font-size: 1.1em;
  color: gray;
  margin: 0;
}

body main header #menu #hamburger ul li:last-child {
  color: black;
  padding-top: .6em;
  font-size: 1.1em;
  font-weight: 900;
  height: 2.7em;
  width: 9em;
  background-color: #fad400;
}

body main header #menu #hamburger ul li:last-child:hover {
  background-color: rgba(220, 220, 220, 0.5);
  color: black;
}

body main #logo {
  margin: 2em 0 0 0;
  font-size: 3em;
  text-align: center;
  line-height: .8em;
}

body main #svg_Arrow {
  margin-top: 4em;
}

body main #svg_Arrow svg {
  height: 8em;
  margin-left: 5.5em;
}

body #articles {
  position: relative;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

body #articles article {
  text-align: center;
  width: 100%;
}

body #articles article h1 {
  text-align: center;
  line-height: 1em;
  font-size: 1.8em;
  margin: 2.5em 0 1em 0;
}

body #articles article #h1First {
  margin: 2.5em 0 1em 0;
}

body #articles article p {
  font-size: .8em;
  width: 18em;
  margin: 0 0 1.7em 0;
  line-height: 1.5em;
}

body #articles article #first, body #articles article #second {
  margin: 0 0 4em 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #articles article:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
}

body #articles #photography h3, body #articles #graphic h3 {
  font-size: 1.6em;
  margin: 12em 0 .8em 0;
}

body #articles #photography p, body #articles #graphic p {
  width: 20.6em;
  margin: 0 0 3em 0;
  font-size: .8em;
}

body #articles #photography {
  background-image: url("./images/mobile/image-photography.jpg");
}

body #articles #graphic {
  background-image: url("./images/mobile/image-graphic-design.jpg");
}

body #clientTestimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

body #clientTestimonials h1 {
  margin: 2.5em 0 2.2em 0;
  font-size: 1.25em;
}

body #clientTestimonials #clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0;
}

body #clientTestimonials #clients .clientsInformation img {
  width: 3.6em;
  margin-bottom: 1.4em;
}

body #clientTestimonials #clients .clientsInformation p {
  font-size: .85em;
  width: 18.5em;
  line-height: 1.6em;
}

body #clientTestimonials #clients .clientsInformation .perfil {
  margin-top: 1.2em;
  font-size: .84em;
  margin-bottom: 3.8em;
}

body #images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body #images img {
  width: 100%;
}

body footer #informations {
  color: #2C7566;
}
/*# sourceMappingURL=mobile.css.map */