body {
    main {
       position: relative;
       background-image: url("./images/mobile/image-header.jpg");

    header{

        #menu{

            svg{
                display: block;
                padding-left: 2em;
            }
        #hamburger::before{
              content: "";
              width: 0;
              height: 0;
              margin-top: -2em;
              margin-left: 16.8em;
              position: absolute;
              border-left: 1.2em solid transparent;
              border-bottom: 2em solid #ffffff;
            }
    #hamburger {
            display: none;
            margin: 6em 1.5em 0 0;
            position: absolute;
            
        ul { 
              height: 20em;
              width: 18em;
              padding: 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content:space-evenly;
              background-color: #ffffff;

              li {
                  font-size: 1.1em;
                  color:gray;
                  margin: 0;
              }
              li:last-child {
                  color: black;
                  padding-top: .6em;
                  font-size: 1.1em;
                  font-weight: 900;
                  height: 2.7em;
                  width: 9em;
                  background-color: hsl(51, 100%, 49%);
              }
              li:last-child:hover{
                  background-color:rgba(220,220,220, .5);
                  color: black;
              }
           }
         }
       }
    }

        #logo {
            margin: 2em 0 0 0;
            font-size: 3em;
            text-align: center;
            line-height: .8em;
        }
        #svg_Arrow {
            margin-top: 4em;

            svg {
              height: 8em;
              margin-left: 5.5em;
            
            }
        }
    }


    #articles{
        position: relative;
        grid-template-columns: 100%;

        article {
            text-align: center;
            width:100%;
            h1 {
                text-align: center;
                line-height: 1em;
                font-size: 1.8em;
                margin: 2.5em 0 1em 0;    
            }

            #h1First {
                margin: 2.5em 0 1em 0;
            }
            p {
                font-size: .8em;
                width: 18em;
                margin: 0 0 1.7em 0;
                line-height: 1.5em;
            }
            #first,#second {
                margin: 0 0 4em 0;
                align-self: center;
            }
        }
        article:nth-child(2){
         grid-row: 1;
        }
        #photography,#graphic {
           
           h3 {
               font-size: 1.6em;
               margin: 12em 0 .8em 0;
           }
           p {
               width: 20.6em;
               margin: 0 0 3em 0;
               font-size: .8em;
           }
        }
        #photography {
            background-image: url("./images/mobile/image-photography.jpg");
        }
        #graphic {
            background-image: url("./images/mobile/image-graphic-design.jpg");
        }
    }

    #clientTestimonials {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        height: max-content;
        

        h1 {
            margin: 2.5em 0 2.2em 0;
            font-size: 1.25em;
        }

        #clients{
            display: grid;
            grid-template-columns: 1fr;
            margin: 0;
            

            .clientsInformation{
                img {
                    width: 3.6em;
                    margin-bottom: 1.4em;
                }
                p {
                    font-size: .85em;
                    width: 18.5em;
                    line-height: 1.6em;
                }
                .perfil{
                    margin-top: 1.2em;
                    font-size: .84em;
                    margin-bottom: 3.8em;
                }
            }
        }
    }

    #images {
        display: grid;
        grid-template-columns: 1fr 1fr;

        img{
            width: 100%;
        }
    }
    footer{
        #informations {
            color: #2C7566;
        }
    }
}